.game-container{
    padding-top: 5vw;
}

.profile-card{
    max-width: 40em;
    min-width: 28em;
    box-shadow: 8px 8px 0px 0px fuchsia;
}

.controls{
    display: flex;
    justify-content: center;
    padding: 5em 0;
}
